<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/cv">Loi et Gouvernement</a></li>
<li><a href="/blog">Féminisme</a></li>
<li><a href="/blog">BlackLiveMatters</a></li>
<li><a href="/blog">Racisme</a></li>
<li><a href="/blog">Environement</a></li>
<li><a href="/blog">Animaux</a></li>
<li><a href="/blog">Covid</a></li>
<li><a href="/blog">Ouïghours</a></li>
<li><a href="/blog">Wall Of Trash</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
   <li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
   </ul>
  </footer>
  </body>

</html>
